<div
  class="container mx-auto px-4 flex flex-col gap-6 md:flex-row md:justify-between md:items-center"
>
  <!-- Texte principal -->
  <div class="text-center md:text-left">
    <h2 class="text-lg sm:text-xl md:text-2xl">
      SIMPLIFY <span class="font-bold">LONG </span> CONTENT
    </h2>
    <h2 class="text-lg sm:text-xl md:text-2xl">
      INTO SHORT
      <span class="font-bold">/ SUMMARIZE</span>
    </h2>
    <h2 class="text-lg sm:text-xl md:text-2xl font-bold">
      MEANINGFUL INSIGHTS
    </h2>
  </div>

  <!-- Bloc signature -->
  <div
    class="flex flex-col items-center md:items-end bg-black text-white px-4 py-3 font-bold"
  >
    <h2 class="text-base sm:text-lg">frazakarivony</h2>
    <h2 class="text-xl sm:text-2xl">3F.</h2>
  </div>
</div>
